.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  overflow: hidden;
}

.scrollArea {
  flex: 1;
}

.messages {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-left: 8px;
  padding-right: 8px;
}
