:root {
  /* Yellows */
  --sunshine-yellow: rgba(251, 187, 82, 1);
  --sunshine-yellow-dark: rgba(232, 162, 61, 1);
  --sunshine-yellow-light: rgba(253, 228, 186, 1);

  /* Blues */
  --sky-blue-dark: rgba(100, 175, 181, 1);
  --sky-blue: rgba(158, 207, 215, 1);
  --sky-blue-light: rgba(216, 236, 239, 1);

  /* Oranges */
  --sunset-orange: rgba(232, 140, 77, 1);
  --sunset-orange-light: rgba(246, 209, 184, 1);

  /* Greens */
  --olive-green: rgba(97, 111, 54, 1);
  --olive-green-light: rgba(160, 169, 133, 1);

  /* Neutrals */
  --vanilla-ivory: rgba(250, 249, 240, 1);
  --chocolate-brown: rgba(119, 70, 37, 1);
  --chocolate-brown-light: rgba(173, 144, 124, 1);
  --gray-light: rgba(164, 163, 161, 1);
  --gray: rgba(94, 92, 90, 1);
  --gray-dark: rgba(61, 60, 58, 1);

  /* Reds */
  --indian-red-dark: rgba(146, 78, 78, 1);
  --indian-red: rgba(184, 96, 96, 1);
  --indian-red-light: rgba(226, 118, 118, 1);
}

html {
  -webkit-text-size-adjust: 100%;
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Helvetica Neue,
    Arial,
    Noto Sans,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol,
    Noto Color Emoji;
  line-height: 1.5;
  tab-size: 4;
  scroll-behavior: smooth;
  height: 100%;
}

body {
  font-family: inherit;
  line-height: inherit;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--vanilla-ivory, #faf9f0);
  background-image: url('/fabric.png');
  background-size: auto;
  background-repeat: repeat;
  background-position: center;
  background-attachment: fixed;
}

h1,
h2,
p,
pre {
  margin: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
}

h1,
h2 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

pre {
  font-family:
    ui-monospace,
    SFMono-Regular,
    Menlo,
    Monaco,
    Consolas,
    Liberation Mono,
    Courier New,
    monospace;
  background-color: rgba(55, 65, 81, 1);
  border-radius: 0.25rem;
  color: rgba(229, 231, 235, 1);
  overflow: scroll;
  padding: 0.5rem 0.75rem;
}

input {
  all: unset;
  box-sizing: border-box;
}

textarea {
  all: unset;
  box-sizing: border-box;
}

button {
  all: unset;
  box-sizing: border-box;
  cursor: pointer;
}
