* {
  box-sizing: border-box;
  scrollbar-width: thin;
}

:root {
  /* Yellows */
  --sunshine-yellow: rgba(251, 187, 82, 1);
  --sunshine-yellow-dark: rgba(232, 162, 61, 1);
  --sunshine-yellow-light: rgba(253, 228, 186, 1);

  /* Blues */
  --sky-blue-dark: rgba(100, 175, 181, 1);
  --sky-blue: rgba(158, 207, 215, 1);
  --sky-blue-light: rgba(216, 236, 239, 1);

  /* Oranges */
  --sunset-orange: rgba(232, 140, 77, 1);
  --sunset-orange-light: rgba(246, 209, 184, 1);

  /* Greens */
  --olive-green: rgba(97, 111, 54, 1);
  --olive-green-light: rgba(160, 169, 133, 1);

  /* Neutrals */
  --vanilla-ivory: rgba(250, 249, 240, 1);
  --chocolate-brown: rgba(119, 70, 37, 1);
  --chocolate-brown-light: rgba(173, 144, 124, 1);
  --gray-light: rgba(164, 163, 161, 1);
  --gray: rgba(94, 92, 90, 1);
  --gray-dark: rgba(61, 60, 58, 1);

  /* Reds */
  --indian-red-dark: rgba(146, 78, 78, 1);
  --indian-red: rgba(184, 96, 96, 1);
  --indian-red-light: rgba(226, 118, 118, 1);
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  height: 100%;
}

body {
  background: #fff;
  color: rgba(61, 60, 58, 1);
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.005em;
  height: 100%;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

a.underline {
  text-decoration-line: underline;
  text-decoration-color: transparent;
  transition: text-decoration-color 0.2s ease-in-out;
}

a.underline:hover {
  text-decoration-color: rgba(61, 60, 58, 0.64);
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

pre {
  font-family: 'JetBrains Mono', monospace;
}

code {
  font:
    700 14px/1.5rem 'JetBrains Mono',
    monospace;
  font-variant-ligatures: none;
  font-optical-sizing: auto;
}

.kind.EntryPoint {
  background-color: #f8d7da;
  color: #721c24;
}

.kind.Function {
  background-color: #d4edda;
  color: #155724;
}

.kind.Class {
  background-color: #cce5ff;
  color: #004085;
}

.kind.TypeAlias {
  background-color: #fff3cd;
  color: #856404;
}

.kind.Interface {
  background-color: #d1ecf1;
  color: #0c5460;
}

.kind.Namespace {
  background-color: #eae6ff;
  color: #403294;
}

.kind.Enum {
  background-color: #f8d7da;
  color: #721c24;
}

.kind.Variable {
  background-color: #f8d7da;
  color: #721c24;
}

.kind.Property {
  background-color: #f8d7da;
  color: #721c24;
}

.kind.Method {
  background-color: #d4edda;
  color: #155724;
}

.shake:hover {
  animation: shake 0.8s ease-in-out infinite;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-direction: normal;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(5deg);
  }
  20% {
    transform: rotate(-5deg);
  }
  30% {
    transform: rotate(4deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(2deg);
  }
  60% {
    transform: rotate(-2deg);
  }
  70% {
    transform: rotate(1deg);
  }
  80% {
    transform: rotate(-1deg);
  }
  90% {
    transform: rotate(0.5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

[wwwSquircle] {
  position: relative;
}

[wwwSquircle]::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  pointer-events: none;
  background-image: var(--www-squircle-border-image-url);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: inherit;
}
